.fieldWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    position: absolute;
    font-family: $fieldWrapperFont;
    font-size: $fieldWrapperFontSize;
    color: $fieldWrapperLabelColor;
    max-height: 18px;
    background-size: 100% 40%;
    top: -10px;
    left: 24px;
    padding: 0 4px;
    z-index: $fieldWrapperZIndexDefault;
    transition: all $fieldWrapperAnimation;

    &:after {
      content: '';
      position: absolute;
      z-index: $fieldWrapperZIndexBellow;
      bottom: 0;
      left: 0;
      width: 100%;
      min-height: 45%;
      background: $fieldWrapperLabelBackgroundColor;
    }
    &--error {
      color: $fieldWrapperLabelColorError;
      transition: all $fieldWrapperAnimation;
    }
  
    &--focus {
      color: $fieldWrapperLabelColorFocus;
      transition: all $fieldWrapperAnimation;
    }
    &--disabled {
      color: $fieldWrapperLabelColor;
      &:after {
        background-color: $fiedlWrapperLabelBackgroundColorReadonly;
      }
    }
    &--readOnly {
      &:after {
        background-color: $fiedlWrapperLabelBackgroundColorReadonly;
      }
    }
  }

  &__border {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border: 1px solid $fieldWrapperBorderColor;
    border-radius: $fieldWrapperBorderRadius;
    box-sizing: border-box;
    background: $fieldWrapperBackgroundColor;
    transition: all $fieldWrapperAnimation;

    &--error {
      border-color: $fieldWrapperBorderColorError;
      transition: all $fieldWrapperAnimation;
    }
    &--focus {
      border: 1px solid;
      border-color: $fieldWrapperBorderColorFocus;
      box-shadow: inset 0 0 0 1px $fieldWrapperBorderColorFocus;
      transform: scale(1);
      transition: all $fieldWrapperAnimation;
    }
    &--disabled {
      border-color: $fieldWrapperBorderColorDissabled;
      background-color: $fieldWrapperBackgroundColorDisabled;
    }
  
    &--readOnly {
      border-color: $fieldWrapperBorderColorReadonly;
      background-color: $fieldWrapperBackgroundColorReadonly;
    }
  }
}