.fieldWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__label {
    position: absolute;
    font-family: $fieldWrapperFont;
    font-size: $fieldWrapperFontSize;
    color: $fieldWrapperLabelColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    padding: 0 11px;
    pointer-events: none;
    z-index: $fieldWrapperZIndexDefault;
    transition: all $fieldWrapperAnimation;
    max-width: calc(100% - 26px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transform: translate(14px, -8px);
    display: block;

    &--isError {
      color: $fieldWrapperLabelColorError;
      transition: all $fieldWrapperAnimation;
    }

    &--isFocused {
      color: $fieldWrapperLabelColorFocus;
      transition: all $fieldWrapperAnimation;
    }
    &--disabled {
      color: $fieldWrapperLabelColorDissabled;
      &:after {
        background-color: $fiedlWrapperLabelBackgroundColorReadonly;
      }
    }
  }

  &__main {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    border-radius: $fieldWrapperBorderRadius;
    box-sizing: border-box;
    background: $fieldWrapperBackgroundColor;
    transition: all $fieldWrapperAnimation;

    &--isError {
      border-color: $fieldWrapperBorderColorError;
      transition: all $fieldWrapperAnimation;
    }
    &--isFocused {
      border: 1px solid;
      border-color: $fieldWrapperBorderColorFocus;
      transition: all $fieldWrapperAnimation;
    }
    &--disabled {
      border-color: $fieldWrapperBorderColorDissabled;
      background-color: $fieldWrapperBackgroundColorDisabled;
    }

    &--isHoverable {
      &:hover {
        border-color: $fieldWrapperBorderColorHover;
        transition: all $fieldWrapperAnimation;
      }
    }
  }

  &__fieldset {
    text-align: left;
    position: absolute;
    bottom: 0;
    right: 0;
    top: -5px;
    left: 0;
    margin: 0;
    padding: 0 20px;
    pointer-events: none;
    border-radius: inherit;
    border-radius: $fieldWrapperBorderRadius;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    min-width: 0%;
    border-color: $fieldWrapperBorderColor;

    &--isError {
      border-color: $fieldWrapperBorderColorError;
      transition: all $fieldWrapperAnimation;
    }
    &--isFocused {
      border: 1px solid;
      border-color: $fieldWrapperBorderColorFocus;
      transition: all $fieldWrapperAnimation;
    }
    &--disabled {
      border-color: $fieldWrapperBorderColorDissabled;
      background-color: $fieldWrapperBackgroundColorDisabled;
    }

    &--isHoverable {
      &:hover {
        border-color: $fieldWrapperBorderColorHover;
        transition: all $fieldWrapperAnimation;
      }
    }
  }

  &__legend {
    float: unset;
    width: auto;
    overflow: hidden;
    display: block;
    padding: 0;
    height: 11px;
    visibility: hidden;
    max-width: 100%;
    white-space: nowrap;

    &--hidden {
      visibility: hidden;
      max-width: 0%;
    }
  }

  &__legend-span {
    padding-left: 4px;
    padding-right: 4px;
    display: inline-block;
    font-family: $fieldWrapperFont;
    font-size: $fieldWrapperFontSize;
    opacity: 0;
    visibility: visible;
  }
}

.helperText {
  padding: 4px 26px 4px 26px;
  width: 100%;
  max-width: 100%;
  color: $fieldWrapperHelperTextColor;
  font-family: $fieldWrapperFont;
  font-size: $fieldWrapperFontSize;

  &--isError {
    color: $fieldWrapperHelperTextErrorColor;
  }
  &--left {
    text-align: left;
  }
  &--right {
    text-align: right;
  }
}
