.dropdown {
  max-height: 280px;
  width: 100%;
  max-width: 100%;
  background-color: $dropdownBackgroundColorWhite;
  border-radius: $dropdownBorderRadius;
  border-bottom-left-radius: $dropdownBorderRadius;
  border-bottom-right-radius: $dropdownBorderRadius;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 $dropdownBoxShadowColor;

  &--backgroundColor {
    &-grey {
      background-color: $dropdownBackgroundColorGrey;
    }
    &-light {
      background-color: $dropdownBackgroundColorWhite;
    }
  }

  &--isHeightUnlimited {
    max-height: 100%;
  }

  &__placeholder {
    padding: calc($gridBase * 2) 0;
    text-align: center;
    color: $dropdownPlaceholderColor;
  }

  &__list {
    padding-top: calc($gridBase / 2);
    padding-bottom: calc($gridBase / 2);
    overflow-y: auto;
    flex-grow: 1;
    overscroll-behavior: contain;
  }

  &__divider {
    min-height: 1px;
    height: 1px;
    position: relative;

    &:after {
      content: '';
      background-color: $dropdownDividerColor;
      height: 100%;
      width: calc(100% - ($gridBase * 4));
      position: absolute;
      top: 0;
      left: $gridBase * 2;
    }
  }

  &__childrenContainer {
    border-top: 1px solid $dropdownDividerColor;
    padding-top: $gridBase * 2;
    padding-bottom: $gridBase * 2;
    display: flex;
    justify-content: center;
  }
}
