.select {
  width: 100%;
  min-height: $selectControlMinHeightMobile;
  position: relative;

  @include for-size-up(desktop) {
    min-height: $selectControlMinHeightDesktop;
  }

  &__controlContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    z-index: 1;
  }

  &__control {
    min-height: $selectMinHeightMobile;
    border-radius: $selectControlBorderRadius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    position: relative;

    &--isFocused {
      cursor: default;
    }

    @include for-size-up(desktop) {
      min-height: $selectMinHeightDesktop;
    }
  }

  &__options {
    position: absolute;
    top: 100%;
  }

  &__valueContainer {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
  }

  &__inputContainer {
    width: 100%;
    input[readonly] {
      cursor: pointer;
    }
  }

  &__suffixContainer {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &__buttonContainer {
    padding: 0 4px;
  }

  &__buttonWrap {
    width: 42px;
    color: $selectIconColor;
    @include for-size-up(desktop) {
      width: 34px;
    }
  }

  &__iconDirectionArrow {
    transition: 0.3s ease;
    &--isExpanded {
      transform: rotate(180deg);
      transition: 0.3s ease;
    }
  }

  &__divider {
    width: 1px;
    height: 80%;
    background-color: $selectDividerColor;
  }

  &__iconContainer {
    width: 42px;
    color: $selectIconColor;
    &:hover {
      color: $selectIconColorHover;
    }
  }
}

.options {
  max-height: 250px;
  width: 100%;
  background-color: $selectOptionsWhiteColor;
  border-bottom-left-radius: $selectOptionsBorderRadius;
  border-bottom-right-radius: $selectOptionsBorderRadius;

  &__placeholder {
    text-align: center;
    color: #2e2f31;
  }

  &__childrenContainer {
    border-top: 1px solid $selectDividerColor;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  }

  &__lists {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}
