.dropdownItem {
  min-height: $dropdownItemMinHeightMobile;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  padding-right: 24px;

  &--backgroundPalette {
    &-onGrayBackground {
      &:hover,
      &:focus-visible {
        background-color: $dropdownItemWhiteColor;
      }

      &:active {
        background-color: $dropdownItemBackgroundColorActive;
        transition: all 0.15s ease;
      }
    }
    &-onLightBackground {
      &:hover,
      &:focus-visible {
        background-color: $dropdownItemBackgroundColorHover;
      }

      &:active {
        background-color: $dropdownItemBackgroundColorActive;
        transition: all 0.15s ease;
      }
    }
  }
  &--color {
    &-greyBlue {
      color: $dropdownItemColorGreyBlue;
    }
    &-greyDark {
      color: $dropdownItemColorGreyDark;
    }
  }

  &__checkmarkContainer {
    min-width: 24px;
  }

  &__contentContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    overflow: hidden;
  }

  &__label {
    text-align: left;

    &--wrap {
    }
    &--truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__iconContainer {
    display: flex;
    align-items: center;
  }

  @include for-size-up(desktop) {
    min-height: $dropdownItemMinHeightDesktop;
  }
}
