.dropdownList {
  max-height: 280px;
  width: 100%;
  max-width: 100%;
  background-color: $dropdownListBackgroundColorWhite;
  border-radius: $dropdownListBorderRadius;
  border-bottom-left-radius: $dropdownListBorderRadius;
  border-bottom-right-radius: $dropdownListBorderRadius;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px 0 $dropdownListBoxShadowColor;

  &--backgroundColor {
    &-grey {
      background-color: $dropdownListBackgroundColorGrey;
    }
    &-light {
      background-color: $dropdownListBackgroundColorWhite;
    }
  }

  &--isHeightUnlimited {
    max-height: 100%;
  }

  &__placeholder {
    padding: 16px 0;
    text-align: center;
    color: $dropdownListPlaceholderColor;
  }

  &__list {
    padding-top: 4px;
    padding-bottom: 4px;
    overflow-y: auto;
    flex-grow: 1;
    overscroll-behavior: contain;
  }

  &__divider {
    min-height: 1px;
    height: 1px;
    position: relative;

    &:after {
      content: '';
      background-color: $dropdownListDividerColor;
      height: 100%;
      width: calc(100% - 32px);
      position: absolute;
      top: 0;
      left: 16px;
    }
  }

  &__childrenContainer {
    border-top: 1px solid $dropdownListDividerColor;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
  }
}
