.dropdownItem {
  padding-left: 4px;
  padding-right: 8px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;

  &--backgroundPalette {
    &-onGrayBackground {
      &:hover,
      &:focus-visible {
        background-color: #ffffff;
      }

      &:active {
        background-color: #c1e4f6;
        transition: all 0.3s ease;
      }
    }
    &-onLightBackground {
      &:hover,
      &:focus-visible {
        background-color: #d6edf9;
      }

      &:active {
        background-color: #c1e4f6;
        transition: all 0.3s ease;
      }
    }
  }
  &--color {
    &-greyBlue {
      color: #252932;
    }
    &-greyDark {
      color: #2e2f31;
    }
  }

  &__checkmarkContainer {
    min-width: 24px;
  }

  &__contentContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    overflow: hidden;
  }

  &__label {
    text-align: left;

    &--wrap {
    }
    &--truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__iconContainer {
    display: flex;
    align-items: center;
  }

  @include for-size-up(desktop) {
    min-height: 40px;
  }
}
