.dropdownOption {
  min-height: $dropdownOptionMinHeightMobile;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  padding-right: 24px;

  &:focus {
    outline: none;
  }

  &--backgroundPalette {
    @media (pointer: fine) {
      &-onGrayBackground {
        &:hover{
          background-color: $dropdownOptionWhiteColor;
        }

        &:active,
        &-isHighlighted {
          background-color: $dropdownOptionBackgroundColorActive;
          transition: all 0.15s ease;
        }
      }
      &-onLightBackground {
        &:hover{
          background-color: $dropdownOptionBackgroundColorHover;
        }

        &:active,
        &-isHighlighted {
          background-color: $dropdownOptionBackgroundColorActive;
          transition: all 0.15s ease;
        }
      }
    }
  }
  &--color {
    &-greyBlue {
      color: $dropdownOptionColorGreyBlue;
    }
    &-greyDark {
      color: $dropdownOptionColorGreyDark;
    }
  }

  &__checkmarkContainer {
    min-width: 24px;
  }

  &__contentContainer {
    display: flex;
    gap: 16px;
    align-items: center;
    overflow: hidden;
  }

  &__label {
    text-align: left;

    &--truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__iconContainer {
    display: flex;
    align-items: center;
  }

  @include for-size-up(desktop) {
    min-height: $dropdownOptionMinHeightDesktop;
  }
}
