.iconButton {
  border-radius: 50%;
  width: inherit;
  aspect-ratio: 1 / 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $iconButtonAnimation;
  &:hover {
    background-color: $iconButtonBackgroundColorHover;
    transition: all $iconButtonAnimation;
  }
  &:active {
    background-color: $iconButtonBackgroundColorActive;
    transition: all $iconButtonAnimation;
  }
}
