.iconButton {
  aspect-ratio: 1 / 1;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all $iconButtonAnimation;
  position: relative;

  &--size {
    &-xs {
      width: 1.5rem;
    }
    &-s {
      width: 1.875rem;
    }
    &-m {
      width: 2.125rem;
    }
    &-l {
      width: 2.375rem;
    }
    &-xl {
      width: 2.875rem;
    }
    &-auto {
      width: inherit;
    }
  }

  &--shape {
    &-circle {
      border-radius: 50%;
    }
    &-square {
      border-radius: $iconButtonSquareBorderRadius;
    }
  }

  @media (pointer: fine) {
    &:hover,
    &:focus-visible {
      background-color: $iconButtonBackgroundColorHover;
      transition: all $iconButtonAnimation;

      .iconButton__tooltipWrap {
        visibility: visible;
        opacity: 1;
        transition: all $iconButtonAnimation;
      }
    }
    &:active {
      background-color: $iconButtonBackgroundColorActive;
      transition: all $iconButtonAnimation;
    }
  }

  &__tooltipWrap {
    position: absolute;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 8px);
    right: 50%;
    transform: translateX(50%);
    transition: all $iconButtonAnimation;
    z-index: $iconButtonZIndex;
    &:hover {
      display: none;
    }
  }
}
