.option {
  min-height: $optionMinHeightMobile;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  padding-right: $gridBase * 3;
  color: $optionColorGreyBlue;

  &:focus {
    outline: none;
  }

  &--backgroundPalette {
    @media (pointer: fine) {
      &-onGreyBackground {
        &:hover {
          background-color: $optionWhiteColor;
        }

        &:active,
        &-isFocused {
          background-color: $optionLightColor;
          transition: all $optionAnimation;
        }
      }
      &-onLightBackground {
        &:hover {
          background-color: $optionBackgroundColorHover;
        }

        &:active,
        &-isFocused {
          background-color: $optionBackgroundColorActive;
          transition: all $optionAnimation;
        }
      }
    }
  }

  &__checkmarkContainer {
    min-width: $gridBase * 3;
    display: flex;
    justify-content: center;
  }

  &__contentContainer {
    display: flex;
    gap: $gridBase * 2;
    align-items: center;
    overflow: hidden;
  }

  &__label {
    text-align: left;

    &--truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__iconContainer {
    display: flex;
    align-items: center;
  }

  @include for-size-up(desktop) {
    min-height: $optionMinHeightDesktop;
  }
}
