.tooltip {
  position: relative;
  width: fit-content;
  max-width: 260px;
  height: auto;
  overflow-wrap: break-word;
  background-color: $tooltipBackground;
  color: $tooltipTextColor;
  border-radius: $border-radius-base;
  font-size: $tooltipFontSize;
  font-weight: $tooltipFontWeight;
  padding: 8px 12px;
}

.tooltipIsError {
  background-color: $tooltipColorIsError;
}

.arrow {
  position: absolute;
  color: $tooltipBackground;
}

.arrowIsError {
  color: $tooltipColorIsError;
}

.arrowLeft {
  top: 50%;
  right: 100%;
  transform: translateX(calc(25% + 1px)) translateY(-50%) rotate(270deg);
}

.arrowRight {
  top: 50%;
  left: 100%;
  transform: translateX(calc(-25% - 1px)) translateY(-50%) rotate(90deg);
}

.arrowTopRight {
  bottom: calc(100% - 1px);
  right: 12px;
}

.arrowTopLeft {
  bottom: calc(100% - 1px);
  left: 12px;
}

.arrowBottomRight {
  top: calc(100% - 1px);
  right: 12px;
  transform: rotate(180deg);
}

.arrowBottomLeft {
  top: calc(100% - 1px);
  left: 12px;
  transform: rotate(180deg);
}
