.tooltip {
  width: fit-content;
  background-color: $tooltipBackground;
  color: $tooltipTextColor;
  border-radius: $border-radius-base;
  font-size: $tooltipFontSize;
  font-weight: $tooltipFontWeight;
  padding: 8px 12px;
  max-width: 260px;
}
