.button {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.fullWidthMode {
  width: 100%;
}

.buttonSize {
  &XS {
    height: 30px;
  }
  &S {
    height: 40px;
  }
  &M {
    height: 48px;
    padding-left: 32px;
    padding-right: 32px;
  }
  &L {
    height: 56px;
    padding-left: 22px;
    padding-right: 22px;
  }
  &XL {
    height: 64px;
    border-radius: 32px;
  }
}
