@mixin backgroundPalette($bgColor, $hoverBgColor, $activeBgColor, $color) {
  background-color: $bgColor;
  color: $color;

  @media (pointer: fine) {
    &:hover,
    &:focus-visible {
      background-color: $hoverBgColor;
    }
    &:active {
      background-color: $activeBgColor;
    }
  }
}

.button {
  display: flex;
  gap: 16px;
  height: auto;
  padding-left: $buttonPaddingPrimary;
  padding-right: $buttonPaddingPrimary;
  border-radius: $buttonBorderRadiusPrimary;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
  font-family: $buttonFontFamily;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  transition: background-color $buttonAnimation;

  &--fullWidthMode {
    width: 100%;
  }

  &__iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    & svg {
      /* height: 20px; */
    }
  }

  @media (pointer: fine) {
    &:hover {
      .button__tooltipWrap {
        visibility: visible;
        opacity: 1;
        transition: all $buttonAnimation;
      }
    }
  }

  &__tooltipWrap {
    position: absolute;
    width: max-content;
    visibility: hidden;
    opacity: 0;
    top: calc(100% + 8px);
    right: 50%;
    transform: translateX(50%);
    transition: all $iconButtonAnimation;
    z-index: $iconButtonZIndex;
    &:hover {
      display: none;
    }
  }

  &--size {
    &-xs {
      min-height: 30px;
      font-size: 14px;
    }
    &-s {
      min-height: 40px;
      font-size: 16px;
    }
    &-m {
      min-height: 48px;
      font-size: 16px;
      padding-left: $buttonPaddingLarge;
      padding-right: $buttonPaddingLarge;
    }
    &-l {
      min-height: 56px;
      font-size: 16px;
      justify-content: start;
      padding-left: $buttonPaddingLarge;
      padding-right: $buttonPaddingLarge;
    }
    &-xl {
      min-height: 60px;
      font-size: 18px;
      padding-left: $buttonPaddingLarge;
      padding-right: $buttonPaddingLarge;
      border-radius: $buttonBorderRadiusLarge;
    }
  }

  &--fontWeight {
    &-medium {
      font-weight: 500;
    }
    &-semiBold {
      font-weight: 600;
    }
  }

  &--border {
    border: solid 1px;
  }

  &--backgroundPalette {
    &-primary {
      @include backgroundPalette(
        $buttonColorPrimary,
        $buttonColorPrimaryHover,
        $buttonColorPrimaryActive,
        $buttonColorWhite
      );
    }

    &-secondary {
      @include backgroundPalette(
        $buttonColorSecondary,
        $buttonColorSecondaryHover,
        $buttonColorSecondaryActive,
        $buttonColorPrimary
      );
    }

    &-positive {
      @include backgroundPalette(
        $buttonColorPositive,
        $buttonColorPositiveHover,
        $buttonColorPositiveActive,
        $buttonColorWhite
      );
    }

    &-transparentSecondary {
      @include backgroundPalette(
        transparent,
        $buttonColorTranspSecondaryHover,
        $buttonColorTranspSecondaryActive,
        $buttonColorPrimary
      );
    }

    &-transparentPositive {
      @include backgroundPalette(
        transparent,
        $buttonColorTranspPositiveHover,
        $buttonColorTranspPositiveActive,
        $buttonColorPositive
      );
    }

    &-transparentNegative {
      @include backgroundPalette(
        transparent,
        $buttonColorTranspNegativeHover,
        $buttonColorTranspNegativeActive,
        $buttonColorNegative
      );
    }

    &-transparentNeutral {
      @include backgroundPalette(
        transparent,
        $buttonColorTranspNeutralHover,
        $buttonColorTranspNeutralActive,
        $buttonColorDark
      );
    }
  }
}

/* .button--disabled,
.button--disabled:hover,
.button--disabled:focus-visible,
.button--disabled:active {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
} */
