$sizeInlineSpinner: 28px;
$sizePageSpinner: 100px;

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &--page {
    width: $sizePageSpinner;
    height: $sizePageSpinner;
  }

  &--inline {
    width: $sizeInlineSpinner;
    height: $sizeInlineSpinner;
  }
}

@keyframes rotateCounterClockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.arc {
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  border: 2px transparent solid;

  &--big {
    width: 100px;
    height: 100px;
    border-bottom: 2px $spinnerBigArcColor solid;
    animation: rotateCounterClockwise 2.5s linear infinite;
  }

  &--middle {
    width: 90px;
    height: 90px;
    border-left: 2px $spinnerMiddleArcColor solid;
    animation: rotateCounterClockwise 2s linear infinite;
  }

  &--small {
    width: 80px;
    height: 80px;
    border-right: 2px $spinnerSmallAcrColor solid;
    animation: rotateCounterClockwise 1.5s linear infinite;
  }

  &--inline {
    width: 20px;
    height: 20px;
    border-top: 2px $spinnerInlineColor solid;
    border-bottom: 2px $spinnerInlineColor solid;
    border-right: 2px $spinnerInlineColor solid;
    animation: rotateCounterClockwise 1s linear infinite;
  }
}
