.inputBase {
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: none;
  font-family: $inputBaseFontFamily;
  font-size: $inputBaseFontSize;
  font-weight: 500;
  color: $inputBaseTextColor;
  background-color: transparent;
  border: none;
  padding-left: 26px;
  padding-right: 26px;

  &::placeholder {
    color: $inputBasePlaceholderColor;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
