$_inputBasePaddingPrimary: 24px;
$_inputBasePaddingCompact: 16px;
$_inputBasePaddingMinimal: 8px;

.inputBase {
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: none;
  font-family: $inputBaseFontFamily;
  font-size: $inputBaseFontSize;
  font-weight: 500;
  color: $inputBaseTextColor;
  background-color: transparent;
  border: none;

  &--readOnlyMode {
    caret-color: transparent;
    cursor: default;
  }

  &::placeholder {
    color: $inputBasePlaceholderColor;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &--paddingLeft {
    &-none {
      padding-left: 0;
    }
    &-primary {
      padding-left: $_inputBasePaddingPrimary;
    }
    &-compact {
      padding-left: $_inputBasePaddingCompact;
    }
    &-minimal {
      padding-left: $_inputBasePaddingMinimal;
    }
  }

  &--paddingRight {
    &-none {
      padding-right: 0;
    }
    &-primary {
      padding-right: $_inputBasePaddingPrimary;
    }
    &-compact {
      padding-right: $_inputBasePaddingCompact;
    }
    &-minimal {
      padding-right: $_inputBasePaddingMinimal;
    }
  }
}
