.inputBase {
  width: 100%;
  height: 100%;
  outline: none;
  box-shadow: none;
  font-family: $inputBaseFontFamily;
  font-size: $inputBaseFontSize;
  font-weight: 500;
  color: $inputBaseTextColor;
  background-color: transparent;
  border: none;

  &::placeholder {
    color: $inputBasePlaceholderColor;
  }

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }

  &--paddingLeft {
    &-none {
      padding-left: 0;
    }
    &-primary {
      padding-left: 26px;
    }
  }

  &--paddingRight {
    &-none {
      padding-right: 0;
    }
    &-primary {
      padding-right: 26px;
    }
  }
}
