.listItem {
  min-height: $listItemMinHeightMobile;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
  padding-right: $gridBase * 3;
  color: $listItemColorGreyBlue;

  &:focus {
    outline: none;
  }

  &--disabled {
    opacity: $listItemDisabledOpacity;
    pointer-events: none;
  }

  &--backgroundPalette-onGreyBackground {
    @media (pointer: fine) {
      &:not(.listItem--disabled):hover {
        background-color: $listItemWhiteColor;
      }

      &:not(.listItem--disabled):active,
      &:not(.listItem--disabled).listItem--isFocused {
        background-color: $listItemLightColor;
        transition: all $listItemAnimation;
      }
    }
  }

  &--backgroundPalette-onLightBackground {
    @media (pointer: fine) {
      &:not(.listItem--disabled):hover {
        background-color: $listItemBackgroundColorHover;
      }

      &:not(.listItem--disabled):active,
      &:not(.listItem--disabled).listItem--isFocused {
        background-color: $listItemBackgroundColorActive;
        transition: all $listItemAnimation;
      }
    }
  }

  &__checkmarkContainer {
    min-width: $gridBase * 3;
    display: flex;
    justify-content: center;
  }

  &__contentContainer {
    display: flex;
    gap: $gridBase * 2;
    align-items: center;
    overflow: hidden;
  }

  &__label {
    text-align: left;

    &--truncate {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__iconContainer {
    display: flex;
    align-items: center;
  }

  @include for-size-up(desktop) {
    min-height: $listItemMinHeightDesktop;
  }
}
