.input {
  width: 100%;
  height: 48px;
  @include for-size-up(desktop) {
    height: 40px;
  }
}

.prefixContainer {
  padding-left: 25px;
  padding-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.staticPrefixIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $inputStaticIconColor;
}

.inputBaseProps {
  padding-left: 0px;
}

.suffixContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 8px;
  padding-right: 4px;
  gap: 4px;
}

.attentionContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.attentionIcon {
  color: $inputAttentionIconColor;
}

@media (pointer: fine) {
  .attentionContainer:hover .tooltipWrap {
    visibility: visible;
    opacity: 1;
    transition: all $inputAnimation;
  }
}

.attentionContainer:active .tooltipWrap {
  visibility: visible;
  opacity: 1;
  transition: all $inputAnimation;
}

.tooltipWrap {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  max-width: 260px;
  width: max-content;
  height: auto;
  top: 35px;
  right: -5px;
  z-index: $inputTooltipZIndex;
  transition: all $inputAnimation;
  @include for-size-up(desktop) {
    top: 35px;
  }
}

.passwordButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordButtonWrap {
  color: $inputPasswordButtonColorDefault;
  width: 42px;
  transition: all $inputAnimation;
  &:hover {
    color: $inputPasswordButtonColorHover;
    transition: all $inputAnimation;
  }
  &:active {
    color: $inputPasswordButtonColorActive;
  }
  @include for-size-up(desktop) {
    width: 34px;
  }
}

.passwordButtonIcon {
  @include for-size-up(desktop) {
    scale: 80%;
  }
}
